<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.7.4114.6375" newVersion="1.7.4114.6375"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
